asgiref==3.11.0
cffi==2.0.0
cryptography==46.0.7
daphne==4.2.1
Django==5.2.8
channels==4.3.2
channels-redis==4.3.0
django-allauth==65.16.0
gunicorn
psycopg[binary]
PyJWT==2.12.1
Pillow==11.3.0
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
